[submodule "auth"]
	path = auth
	url = git@github.com:gonzalomelov/ticketing-auth.git
[submodule "client"]
	path = client
	url = git@github.com:gonzalomelov/ticketing-client.git
[submodule "common"]
	path = common
	url = git@github.com:gonzalomelov/ticketing-common.git
